# Identificadores públicos del User Pool RutaExpress. No son credenciales.
COGNITO_ISSUER_URI=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_omx1k5hul
COGNITO_CLIENT_ID=41v988atubk0lrcmto285tk77i
CATALOGO_URL=http://localhost:8081
SHIPMENTS_URL=http://localhost:5000
REPORT_URL=http://localhost:8082
CORS_ALLOWED_ORIGIN=http://localhost:4200
