COGNITO_ISSUER_URI=https://cognito-idp.<region>.amazonaws.com/<USER_POOL_ID>
COGNITO_CLIENT_ID=<APP_CLIENT_ID>
CATALOGO_URL=http://localhost:8081
SHIPMENTS_URL=http://localhost:5000
REPORT_URL=http://localhost:8082
CORS_ALLOWED_ORIGIN=http://localhost:4200
