JWT_ISSUER_URI=replace-with-identity-provider-issuer
JWT_CLIENT_ID=replace-with-application-client-id
CATALOGO_URL=http://localhost:8081
SHIPMENTS_URL=http://localhost:5000
CORS_ALLOWED_ORIGIN=http://localhost:4200
